body {
  padding: 3px;
  display: grid;
  justify-content:center;
  background-color: rgb(247, 193, 249); 
}

.header {
  color: #67055a;
  border: 3px solid #c41dab;
  width: 1340px;
}

.target {
  width: 220px;
  height: 210px;
  border: 2px solid #c41dab;
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: white;
  border-bottom-left-radius: 30%;
  position:relative;
  top: 150px;
  
}
.container {
  
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 60%;
  position:relative;
  left: 70px;
}

.btn{
  position: relative;
  top: 100px;
  left: 130px;
  color: white;
  background-color: rgb(222, 42, 201);
  border-radius: 5px;
}

.text {
  color: #67055a;
  text-align:center;
  line-height: 0.5;
  position: relative;
  top: 1px; 
}

#dte {
  position: relative;
  top: 19px; 
  left: 1px;
  width: 100px;
  color: #67055a;
}

.date{
  position: relative;
  top: 20px;
  right: 10px;
  color: #67055a;
}

select {
  color: #67055a;
  position: relative;
  top: 30px;
  left: 65px;
}

.ste{
  color: #67055a;
  position: relative;
  top: 30px;
  left: 50px;
}

.sbt{
  position:absolute;
  top: 400px;
  width: 300px;
  height: 30px;
  color: white;
  font-size:medium;
  background-color: rgb(222, 42, 201);
  border-radius: 10px;
  
}

.Add {
  position:absolute;
  width: 150px;
  height: 30px;
  left: 520px;
  color: white;
  background-color: rgb(222, 42, 201);
  border-radius: 10px;
  margin-top: 60px;
}

.checked {
  color: #67055a;
  position: relative;
  top: 60px;
  left: 60px;
}
.cbox {
  position: relative;
  top: 60px;
  left: 0px;
}

